{% load static %}
<html>
    <head>
        <title>my blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Merriweather:300,400|Playfair+Display:400,500,600,700|Roboto:300,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/bb3b7e6290.js" crossorigin="anonymous"></script>
    </head>
    <body>

    <div class="container">
        <div class="row page-header pt-3 d-flex mx-auto">
            <div class="col-2 d-flex justify-content-start">
                <a href="/"><h1 class="page-title">Myblog</h1></a>
            </div>
            <div class = "col-8"></div>
            <div class = "col-2 d-flex justify-content-end">
                <div class="dropdown">
                    <i class="fas fa-user-circle dropdown-toggle p-2"></i> 
                    <div class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <a href="{% url 'User' %}" class="dropdown-item">Your Profile </a>

                        <a href = "/YourPosts" class="dropdown-item">Your Posts</a>
                        <a href="{% url 'post_new' %}" class="dropdown-item">New Post</a>
                        <a href = "{% url 'logout' %}" class="dropdown-item">logout</a>
                        {% else %}
                        <a href = "{% url 'login' %}" class="dropdown-item">Login</a>
                        <a href = "{% url 'register' %}" class="dropdown-item">Sign Up</a>

                        {% endif %}
                    </div>    
                </div>
            </div>
        </div>

    </div>
        

    <div class = "container">


        {% block content %}
        {% endblock %}

    </div>



    </body>
</html>
