{% extends 'blog/base.html' %}

                        <!--{% for post in posts %}
                        <div class = "box">
                        <div class = "container">
                        <div class="post">
                

                                
                                <div class="post-title">
                                    <a href="{% url 'post_detail' pk=post.pk %}">
                                    <h1>{{ post.title|title }}</h1>
                                    </a>
                                </div>
                                <div class="date">
                                    <p> {{ post.published_date|date:"F d, y"}} </p>
                                </div>
                                <div class = "author">
                                     "<h5>{{post.author_name.get_short_name|capfirst}}</h5></a>
                                </div>
                                <div class = "text">
                                    <a href="{% url 'post_detail' pk=post.pk %}">
                                    <p> {{ post.text|truncatewords:20|linebreaksbr}} </p>
                                    </a>
                                </div>
                                <div id = "image">
                                    {% if post.image %}
        
                                <img src="{{ post.image.url }}" alt="{{post.title}}">
                                {% endif %}
                                </div>
                                
                        
 
 
 
 
 
 
                            </div>    
                        </div>
                        </div>
                        {% endfor %}-->
{% block content %} 
    <div class="container mt-3">
        {% for post in posts %}
        <div class="card mb-3">
            <div class="row no-gutters py-2 px-3 d-flex">
                {% if post.image %}            
                <div class="col-md-8 d-flex order-2 order-md-1 justify-content-start">
                    <div class="card-body pt-0">
                        <a href="{% url 'post_detail' pk=post.pk %}"><h1 class="card-title title d-flex mb-1">{{ post.title|title }} </h1></a>
                        <h5 class="card-text author">{{post.author_name.get_short_name|capfirst}}</h5>
                        <a href="{% url 'post_detail' pk=post.pk %}"><p class="card-text text">{{ post.text|truncatewords:35|linebreaksbr}} </p></a>
                        <p class="card-text card-footer mt-1 pt-1"><small class="text-muted">Last updated {{ post.published_date|date:"F d, y"}}</small></p>
                    </div>    
                </div>
                <div class="col-md-4 d-flex order-1 order-md-2 align-middle py-1">
                    <img src="{{ post.image.url }}" alt="{{post.title}}" class="img-fluid rounded">
                </div>
                {% else %}
                <div class="col-md-12 d-flex justify-content-start">
                    <div class="card-body pt-0">
                        <a href="{% url 'post_detail' pk=post.pk %}"><h1 class="card-title title d-flex mb-1">{{ post.title|title }} </h1></a>
                        <a  href = "{% url 'YourPosts_p' pk=post.pk %}"><h5 class="card-text author pb-1">{{post.author_name.get_short_name|capfirst}}</h5></a>  
                        <a href="{% url 'post_detail' pk=post.pk %}"><p class="card-text text">{{ post.text|truncatewords:35|linebreaksbr}} </p></a>
                        <p class="card-text pt-1"><small class="text-muted">Last updated {{ post.published_date|date:"F d, y"}}</small></p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
























{% endblock %}

       
  